In [26]:
# gzip *.zip
# gunzip for gz

In [1]:
import pandas as pd
import numpy as np

In [16]:
bom = pd.read_csv('bom.movie_gross.csv')

In [17]:
bom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
title             3387 non-null object
studio            3382 non-null object
domestic_gross    3359 non-null float64
foreign_gross     2037 non-null object
year              3387 non-null int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [21]:
# imbd_prin['tconst'] = imbd_prin['tconst'].str.replace(r'\tt', '')
# imbd_prin

In [22]:
rt_reviews = pd.read_csv('rt.reviews.tsv')

ParserError: Error tokenizing data. C error: Expected 3 fields in line 5, saw 5

In [55]:
tn_movie_budgets = pd.read_csv('tn.movie_budgets.csv')

In [53]:
tn_movie_budgets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
id                   5782 non-null int64
release_date         5782 non-null object
movie                5782 non-null object
production_budget    5782 non-null int64
domestic_gross       5782 non-null object
worldwide_gross      5782 non-null object
dtypes: int64(2), object(4)
memory usage: 271.2+ KB

In [61]:
#converting all of the dollar amounts to numbers
tn_movie_budgets['production_budget'] = tn_movie_budgets['production_budget'].replace('[\$,]','',regex=True).astype('int64')
tn_movie_budgets['domestic_gross'] = tn_movie_budgets['domestic_gross'].replace('[\$,]','',regex=True).astype('int64')
tn_movie_budgets['worldwide_gross'] = tn_movie_budgets['worldwide_gross'].replace('[\$,]','',regex=True).astype('int64')
tn_movie_budgets.sample(5)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
1703,4,"Nov 9, 2001",Heist,35000000,23483357,28906817
902,3,"Oct 16, 1998",Practical Magic,60000000,46850558,68336997
2225,26,"Aug 24, 2007",Mr. Beanâs Holiday,25000000,33302167,234981342
1382,83,"Jul 25, 2014",Lucy,40000000,126573960,457507776
3376,77,"Aug 12, 2016",Hell or High Water,12000000,27007844,37584304

In [ ]:
tn_movie_budgets['year'] = tn_movie_budgets.